.app-body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    text-align: center;

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

@font-face {
    font-family: 'Ancient Medium';
    src: url('./assets/fonts/Ancient Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   
}
@font-face {
    font-family: 'Relationship of mélodrame';
    src: url('./assets/fonts/Relationship of mélodrame.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
img.header-image {
    width: 80%;
    height: auto;

}

.TowerTitle {
    font-family: 'Ancient Medium', serif;
    font-size: 52pt;
    color: #491e1c;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.TowerMain {
    font-family: 'Relationship of mélodrame', serif;
    font-size: 15pt;
    color: #dfdfdf;
}
.card {
    font-family: 'Relationship of mélodrame', serif;
    font-size: 18pt;
    color: #dfdfdf;
}
